@model TabkeFiveWebApplication.Models.ApplicationUser

<style>
    #loginForm {
        width: 1000px;
        height: 100px;
        margin: 0 auto
    }


    .baslik {
        color: #fff;
        text-align: center;
        font-family: 'Fira Sans', sans-serif;
    }

    .arkalogin {
        width: 550px;
        text-align: center;
        background: #fff;
        height: 800px;
        padding: 10px;
        margin: 50px auto;
        border-radius: 10px;
        box-shadow: 8px 10px 0px rgba(0,0,0,0.1);
    }

    .loginbaslik {
        color: #888888;
        text-align: left;
        font-size: 19px;
        margin-top: 15px;
    }

    #aaa {
        background: #DE6262; /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        float: left;
        height: 800px;
        width: 100%;
        padding: 50px 0;
    }
</style>

@using (Html.BeginForm("Edit", "Account", FormMethod.Post,
                        new { @enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()
    <section style="height: 130vh;" id="aaa">
        <div class="arkalogin">
            <div class="loginbaslik">修改資料</div>
            <hr style="border: 1px solid #ccc;">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                @*@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <label class="control-label col-md-2"> 名稱</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(model => model.phNumber, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <label class="control-label col-md-2">  電話號碼</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.phNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.phNumber, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(m => m.Birthday, new { @class = "col-md-2 control-label" })*@
                <label class="control-label col-md-2">生日</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Birthday, new { @class = "form-control", @value = "", @id = "birthday" })
                    @Html.ValidationMessageFor(m => m.Birthday, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(model => model.Introduction, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <label class="control-label col-md-2">介紹</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Introduction, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Introduction, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <label class="control-label col-md-2"> E-Mail</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
            @Html.LabelFor(m => m.phNumber, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.phNumber, new { @class = "form-control", @value = "", @id = "phNumber" })
                @Html.ValidationMessageFor(m => m.phNumber, "", new { @class = "text-danger" })
            </div>
        </div>*@

            <div class="form-group">
                @*@Html.LabelFor(model => model.Pic, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <label class="control-label col-md-2">圖片</label>
                <div class="col-md-10">
                    <img id="imgPreview" src="@Html.Action("ShowPhoto","Account", new { id=Model.Id })" style="width:120px;height:80px" />
                    <input type="file" name="File1" id="File1" accept="image/*" />
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                    <button type="button" class="btn  btn-primary" onclick="location.href='@Url.Action("ChangePassword", "Manage")'">修改密碼</button>
                </div>
            </div>
        </div>



    </section>

}



<script>

    function readURL(input) {

        if (input.files && input.files[0]) {

            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imgPreview').attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);

        }
    }


    $("#File1").change(function () {
        readURL(this);
    });

</script>
